html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;

    .header-global {
        background: #5aa0cc;
        left: 0;
        width: 100%;
        z-index: 5000;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
        position: fixed;
        padding: 0 40px;
        padding-right: 0;
        height: 60px;
        box-sizing: border-box;
        @media only screen and (max-width:768px) {
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .top-banner {
            height: 50px;
            padding: 0 20px;
            float: right;
            font-size: 25px;
            font-family: 'Eagle Lake', cursive;
            padding-right: 120px;
            @media (max-width: 975px) {
                padding: 0;
            }
            @media only screen and (max-width:768px) {
                width: 100%;
                justify-content: center;
            }
            a {
                font-size: 25px !important;
                border-bottom: none;
            }
            .subheader {
                margin-top: 5px;
                position: absolute;
                font-size: 10px;
                bottom: 10px;
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
            }
        }
        .nav-bar {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            padding: 0 20px;
            padding-right: 0;
            align-items: center;
            font-family: 'Raleway', sans-serif;
            width: 50%;
            margin-left: auto;
            @media (max-width: 1230px) {
                width: 57%;
            }
            @media (max-width: 985px) {
                width: 56%;
            }
            @media (max-width: 880px) {
                padding: 0;
            }
            @media (max-width: 850px) {
                width: 60%;
            }
            @media only screen and (max-width: 768px) {
                display: none;
            }
            a {
                text-decoration: none;
                height: 100%;
                display: flex;
                vertical-align: middle;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
                font-family: 'Raleway', sans-serif;
                letter-spacing: 0.05rem;
                font-size: 16px;
                font-weight: 500;
                color: #102a52;
                &:hover {
                    transition: all ease-in-out 0.2s;
                    color: #fff;
                    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
                }
                svg {
                    margin-right: 5px;
                }
                @media (max-width: 1230px) {
                    font-size: 15px;
                }
                @media (max-width: 1050px) {
                    font-size: 14px;
                }
                @media (max-width: 940px) {
                    font-size: 13px;
                    padding: 0 5px;
                }
            }
            .purchase-link {
                color: #fff;
                transition: color 0.3s;
                -webkit-transition: color 0.3s;
                background: transparent;
                border: none;
                padding: 0 40px;
                background: #d04124;
                padding-right: 60px;
                margin-left: 20px;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
                font-weight: 600;
                font-size: 17px;
                &:hover {
                    border: none;
                    color: #fff;
                    background: #bd361b;
                    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
                    // background: linear-gradient(to right, #73deef, #7ec3a0);
                }
                @media (max-width: 1050px) {
                    padding-right: 40px;
                    margin-left: 0;
                }
                @media (max-width: 980px) {
                    padding: 0 30px;
                }
            }
        }
        .mobile_menu {
            width: 100vw;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            top: 60px;
            width: 100vw;
            position: absolute;
            .mobile-link {
                width: 100%;
                display: block;
                font-size: 16px;
                font-family: 'Raleway', sans-serif;
                background: #254e83;
                border-bottom: solid 0.5px rgba(255,255,255,0.3);
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                padding: 10px 20px;
                &.purchase-link {
                    background: #d04124;
                    font-weight: 600;
                    &:hover {
                        background: linear-gradient(to right, #73deef, #d14124);
                    }
                }
                a {
                    color: #fff;
                    svg {
                        margin-right: 10px;
                    }
                    &:hover {
                        border: none;
                    }
                }
            
                &:hover {
                    background: #347ca9;
                }
            
            }
        }
        .mobile_menu_toggle {
            display: none;
            @media only screen and (max-width:768px) {
                display: block;
                position: absolute;
                left: 12px;
                top: 20px;
                border: none;
                &:before {
                    content: '\f0c9';
                    display: block;
                    position: absolute;
                    border: none;
                    top: -2px;
                    font-size: 20px;
                    font-family: "Font Awesome 5 Free"; font-weight: 900;
                }
            }
        }
        &.mobile-open {
            .mobile_menu_toggle {
                @media only screen and (max-width:768px) {
                    &:before {
                        content: '\f00d';
                        top: -5px;
                        font-size: 25px;
                    }
                }
            }
        }
    }
    main {
        flex: 1 0 auto;
        font-family: 'Raleway', sans-serif;
        display: block;
        background-color: #1b3f6d;
        color: #fff;
        a {
            color: #77d2ef;
        }
        .book-blurb {
            font-family: 'Raleway', sans-serif;
            margin-top: 60px;
            background: #254e84;
            color: #fff;
            .blurb {
                display: flex;
                justify-content: center;
                text-align: center;
                padding-top: 30px;
                p {
                    position: relative;
                    font-style: italic;
                    font-size: 14px;
                    &:before, &:after {
                        content: '';
                        display: block;
                        height: 16px;
                        position: absolute;
                        width: 18px;
                        border: none;
                        top: -10px;
                        font-family: "Font Awesome 5 Free"; font-weight: 900;
                    }
                    &::before {
                        left: -20px;
                        content: '\f10d';
                    }
                    &::after {
                        right: -20px;
                        content: '\f10e';
                    }
                }
            }
            .buy-now {
                padding: 60px 80px;
                padding-top: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 768px) {
                    display: block;
                }
                .buy-script {
                    width: 70%;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }
                .image-link {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                    .book-cover {
                        height: 280px;
                        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .4);
                    }
                    .buy-now-button {
                        background: #fff;
                        border-radius: 40px;
                        padding: 10px 40px;
                        display: inline-block;
                        margin-top: 10px;
                        color: #1c3d6b;
                        font-weight: 600;
                        &:hover {
                            border: none;
                            text-decoration: none;
                            background: linear-gradient(to right, #73deef, #d14124);
                            color: #fff;
                        }
                    }
                }
            }
        }
        .hero {
            height: auto;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            @media (max-width: 1250px) {
                background-position: center -100px;
            }
        }
        #hero-carousel {
            width: 100%;
            height: auto;
            .slide-content {
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
                height: auto;
                width: 100vw;
                .slide-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                    flex-direction: column;
                    height: 100%;
                    background: rgba(122,185,191,0.45);
                    color: #fff;
                    .slider-text {
                            background: rgba(0,0,0,0.2);
                            padding: 40px;
                            width: 60%;
                            font-size: 16px;
                            letter-spacing: 0.05em;
                            margin: 60px 0;
                            font-family: 'Raleway', sans-serif;
                            a {
                                color: #f5f0dc;
                            }
                            .buy-button {
                                background: #2a5579;
                                color: #fff;
                                border-radius: 40px;
                                padding: 10px 30px;
                                display: inline-block;
                                margin: 20px auto;
                                -webkit-transition: all 0.3s ease-in-out;
                                transition: all 0.3s ease-in-out;
                                font-weight: 600;
                                &:hover {
                                    text-decoration: none;
                                    border: none;
                                    background: linear-gradient(to right, #73deef, #d14124);
                                }
                            }
                    }
                }
            }
            .owl-dots {
                bottom: 10px;
                position: absolute;
                width: 100%;
                .owl-dot {
                    span {
                        background: rgba(81, 239, 247,0.5);
                    }
                }
                .owl-dot.active {
                    span {
                        background: #86ffd3;
                    }
                }
            }
            .owl-nav {
                width: 100%;
                position: absolute;
                bottom: 65%;
                color: #fff;
                .owl-prev, .owl-next {
                    position: absolute;
                    font-size: 50px;
                    background: rgba(255,255,255,0.2);
                    border-radius: 50px;
                    width: 50px;
                    line-height: 50px;
                    span {
                        position: relative;
                        top: -5px;
                    }
                }
                .owl-prev {
                    left: 15px;
                }
                .owl-next {
                    right: 15px;
                }
            }
        }
        .content {
            font-family: 'Raleway', sans-serif;
            .promo {
                padding: 40px;
                line-height: 24px;
                min-height: 240px;
                img {
                    width: 240px;
                    height: 240px;
                    object-fit: none;
                    clip-path: circle(40%);
                    float: left;
                    @media (max-width: 768px) {
                        float: none;
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                    }
                }
            }
            .reviews {
                background: #404f5f;
                color: #fff;
                padding: 40px;
                h2 {
                    font-family: 'Eagle Lake', cursive;
                    margin: 0 auto;

                }
                .review-blocks {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .review {
                        background: rgba(255,255,255,0.2);
                        margin: 20px;
                        padding: 20px;
                        border-radius: 10px;
                        position: relative;
                        &:after {
                            content: '';
                            display: block;
                            height: 0;
                            position: absolute;
                            width: 0;
                            z-index: 98;
                            border-left: 1px solid transparent;
                            border-right: 8px solid transparent;
                            border-top: 8px solid rgba(255,255,255,0.2);
                            bottom: -8px;
                        }
                        p {
                            text-align: center;
                            font-style: italic;
                        }
                        svg {
                            display: block;
                            font-size: 20px;
                        }
                        svg.fa-quote-right{
                            text-align: right;
                            margin-right: 0;
                            margin-left: auto;
                        }
                        .author {
                            font-style: normal;
                            font-weight: bold;
                            font-family: 'Raleway', sans-serif;
                        }
                    }
                    .owl-dots {
                        bottom: -20px;
                        position: absolute;
                        width: 100%;
                        .owl-dot {
                            span {
                                background: rgba(255,255,255,0.5);
                            }
                        }
                        .owl-dot.active {
                            span {
                                background: #fff;
                            }
                        }
                    }
                    .owl-nav {
                        width: 100%;
                        position: absolute;
                        bottom: 65%;
                        color: #fff;
                        .owl-prev, .owl-next {
                            position: absolute;
                            font-size: 50px;
                            border-radius: 50px;
                            width: 50px;
                            line-height: 50px;
                            span {
                                position: relative;
                                top: -5px;
                            }
                            &:hover {
                                background: transparent;
                            }
                        }
                        .owl-prev {
                            left: -40px;
                        }
                        .owl-next {
                            right: -40px;
                        }
                    }
                }
            }
        }
    }
    .global-footer {
        flex-shrink: 0;
        background: #346c9c;
        .footer-links {
            a {
                margin: 0 10px;
                display: inline-block;
                color: #30c5ff;
                text-decoration: none !important;
                border: none !important;
                svg {
                    width: 30px;
                    height: 30px;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .copyright {
        flex-shrink: 0;
        background: #acd2e4;
        color: #204886;
        text-align: center;
        padding: 5px;
        display: block;
        font-family: 'Raleway', sans-serif;
        p {
            margin: 0;
            font-size: 12px;
        }
    }
}

.global-footer {
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    position: relative;
    display: block;
    background-size: cover;
    background-position: center 65%;
    background-attachment: fixed;
}

.hidden {
    display: none;
}

a {
    color: #25395f;
    text-decoration: none;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: all ease-in-out 0.2s;
    font-size: 15px;

    &:hover {
        color: #f5f0dc;
    }
}

#wpadminbar {
    @media only screen and (max-width: 600px) {
        position: fixed;
    }
}

.toolbar {
    width: 100%;
    background-color: #fff;
    height: 3rem;
}

main.blog {
    background: #254e84;
    margin-top: 60px;
    a {
        color: #fff;
        border: none;
    }
    .articles_list {
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        .articles_item {
            background: #93caec;
            width: calc(100% / 3 - 20px);
            padding: 0;
            box-sizing: border-box;
            margin: 0 10px;
            min-height: 200px;
            background-size: cover;
            .articles_image {
                display: block;
                float: none;
                max-height: 200px;
                margin: 0;
                img {
                    width: 100%;
                    max-height: 200px;
                    object-fit: cover;
                }
    
            }
            .articles__title {
                padding: 20px;
                padding-bottom: 0;
                margin: 0;
                background: rgba(127, 179, 212, 0.7);
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                a {
                    color: #45f8f9;
                    font-family: 'Eagle Lake', cursive;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
    
            .articles_details {
                margin: 0;
                padding: 20px;
                padding-top: 0;
                color: #fff;
                background: rgba(127, 179, 212, 0.7);
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                min-height: calc(100% - 73px);
                .articles_meta {
                    padding-top: 10px;
                    p {
                        margin: 0;
                    }
                }
                .articles__excerpt {
                    .read-more {
                        color: #fff;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
            &:hover {
                // box-shadow: 0 2px 10px 3px rgba(152, 219, 239, 0.2);
                .articles__title {
                    background: rgba(73, 120, 150, 0.7);
                }
                .articles_details {
                    background: rgba(73, 120, 150, 0.7);
                    .read-more {
                        color: #45f8f9;
                    }
                }
            }
        }
    }
}

.filters_dropdowns {
    position: relative;
    .title {
        display: block;
        width: 235px;
        height: 20px;
        border: solid 1px #999;
        padding: 5px;
    }
    #category-dropdown {
        position: absolute;
        top: 32px;
        background: #f1f1f1;
        width: 250px;
        display: none;

        li {
            padding: 5px 10px;
            border-bottom: solid 1px #999;
        }
    }
}

form.search {
    margin: 20px;
}

.pagination {
    text-align: center;
    margin: 20px;
}